<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Logout</title>
		<script
			src="https://code.jquery.com/jquery-3.7.1.min.js"
			integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			crossorigin="anonymous"></script>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
		<!-- Logout page -->
		<div class="flex items-center justify-center min-h-screen bg-gray-100">
			Logged out successfully.
		</div>

		<script>
			$(document).ready(() => {
				setTimeout(() => {
					window.location.href = "/login";
				}, 500);
			});
		</script>
	</body>
</html>
