<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Forbidden</title>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
		<div class="flex items-center justify-center min-h-screen bg-gray-100">
			<div class="w-full max-w-lg">
				<div class="bg-white shadow-md rounded px-10 pt-6 pb-8 mb-4">
					<h1 class="text-center text-2xl my-2 font-bold text-red-500">Forbidden</h1>
					<p class="text-center text-gray-700"><%= message %></p>
					<!-- Required Role -->
					<p class="text-center text-gray-700 mt-3">
						Required Role: <b class="font-extrabold"><%= role %></b>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
